---
import Hero from "../components/Hero.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
	<div class="container col-xxl-8 px-4 py-5">
	  <Hero 
		title="Sobre Mi"
		imageUrl="https://placekitten.com/g/500/400"
		buttonText="<== Volver"
		buttonLink="/"
	  />
	</div>
  </SiteLayout>