---
import Hero from "../components/Hero.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="container col-xxl-8 px-4 py-5">
    <Hero 
      title="Mi primera Astro web"
      imageUrl="https://placekitten.com/g/500/400"
      buttonText="Leer más"
      buttonLink="/about"
    />
  </div>
</SiteLayout>